@media (min-width:768px) {

    /* ======== common css ======= */
    .container {
        margin-left: 50px;
        margin-right: 50px;
    }

    header .navbar .search {
        display: block;
    }

    header .navbar .login {
        display: block;
    }

    /* ===== homepage ====== */
    .homepage .homepage-content h1 {
        font-size: 45px;
    }

    .homepage .waveWrapper {
        height: 143px;
        margin-top: -100px;
    }

    .learn-course .learn-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 0px;
    }

    .ourfacilities .facilityDetails {
        display: flex;
        flex-direction: column;
    }

    .meetteacher .tec-p {
        padding: 30px 10px;
    }

    .meetteacher .techaersdetails {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    .meetteacher .techaersdetails .techdetails {
        align-items: center;
        justify-content: center;
    }

    .meetteacher .techaersdetails .teacherphoto {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        flex: 1;
    }

    .Testimonial .content {
        display: grid;
        padding-top: 30px;
        gap: 20px;
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
    }

    .brands .brands-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        justify-items: center;
    }

    .footer-pad {
        padding: 50px 30px;
    }

    .mainfoot .footer-grid {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        gap: 10px;
    }
}