*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    background:url(Images/bg.jpg);
    background-size: cover;
    width: 100%;
    filter:brightness(0.9);
    position: relative;
    height: 75vh;
}

.main .text{
    color: whitesmoke;
  }
.main .text h1{
    font-size: 35px;
    position: absolute;
    top:25%;
    left: 45%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.main .text p{
    font-size: 15px;  
    left: 35%;
    position: absolute;
    text-align: center;
    top:35%;
    text-transform: capitalize;
}
.main .shape{
    height: 100vh;
    padding-top: 250px;
    overflow: hidden;
}
.main .user1{
    position: absolute;
    top: 58%;
    left:30%;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background:url(Images/u5.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main .text1{
    position: absolute;
    top: 73.1%;
    left: 32.5%;
}
.main span h5{
    position: absolute;
    text-align: center;
    top: 90%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    left: 29%;
}
.main span h6{
    position: absolute;
    text-align: center;
    top: 94%;
    font-size: 9px;
    text-align: center;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    left: 29.5%;
}
.main .text1 .design{
    border-left: 3px solid rgb(255, 255, 255);
    height: 80px;
}
.main .user2{
    position: absolute;
    top: 79%;
    left:47%;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background:url(Images/u4.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main .user3{
    position: absolute;
    top: 73.5%;
    left:10%;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background:url(Images/u3.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main .user4{
    position: absolute;
    top: 52%;
    left:86%;
    height: 58px;
    width: 58px;
    border-radius: 50px;
    background:url(Images/u2.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main .user5{
    position: absolute;
    top: 80%;
    left:70%;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background:url(Images/u1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}