/* General reset and styling */
 *{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
 }
  html, body {
    height: 100%;
  }

  .main{
    display: flex;
    height: 70vh;
  }
  .left{
    background-color: rgb(42, 41, 40);
    width: 60%;
    position: relative;
  }
  .right{
    width: 40%;
    background:url(Images/ofc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .circle1{
    position: absolute;
    height: 50px;
    width: 50px;
    top:30%;
    transform: translate(50%,-50%);
    right: 0px;
    border-radius: 50%;
    background-color: rgb(152, 4, 4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  span{
    font-size: 15px;
    color: white;
  }
  .circle3{
    position: absolute;
    height: 50px;
    width: 50px;
    top:50%;
    transform: translate(50%,-50%);
    right: 0px;
    border-radius: 50%;
    background-color: rgb(152, 4, 4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .circle2{
    position: absolute;
    height: 50px;
    width: 50px;
    top:70%;
    transform: translate(50%,-50%);
    right: 0px;
    border-radius: 50%;
    background-color: rgb(152, 4, 4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
.left-content{
  text-align: right;
  color: whitesmoke;
}
.left-content .line{
  border-left: 4px solid rgb(152, 4, 4);
  height: 22px;
  top: 14%;
  position: absolute;
  right: 5%;
}
.left-content h2{
  top: 13.5%;
  position: absolute;
  right: 7%;
  letter-spacing: 4.5px;
  text-transform: uppercase; 
}

.left-content .service1{
  top: 25%;
  position: absolute;
  right: 5%;
}
.left-content .service1 h4{
 text-transform: uppercase;
 color: rgb(152, 4, 4);
}
.left-content .service1 p{
  text-transform: capitalize;
  font-size: 12px;
  padding-left: 30px;
  line-height: 17px;
  padding-top: 5px;
 }

.left-content .service2{
  top: 45%;
  position: absolute;
  right: 5%;
}
.left-content .service2 h4{
  text-transform: uppercase;
  color: rgb(152, 4, 4);
}
.left-content .service2 p{
  text-transform: capitalize;
  font-size: 12px;
  padding-left: 30px;
  line-height: 17px;
  padding-top: 5px;
}

.left-content .service3{
  top: 65%;
  position: absolute;
  right: 5%;
}
.left-content .service3 h4{
  text-transform: uppercase;
  color: rgb(152, 4, 4);
}
.left-content .service3 p{
  text-transform: capitalize;
  font-size: 12px;
  line-height: 17px;
  padding-left: 30px;
  padding-top: 5px;
}

 